<div class="game">
  <p class="stage">
    Stage: {{currentStage + 1}} / {{NUMBER_OF_STAGES}}
  </p>
  <img src='assets/step-images/step-{{errors}}.png'/>

  <p class="displayed-word"> {{displayedWord}}</p>

</div>

<hm-keyboard (selectButton)="letterSelected($event)"></hm-keyboard>
