:host {
  .game {
    text-align: center;

    margin-bottom: 100px;
  }

  .stage {
    margin: 0;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
  }

  .displayed-word {
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: bold;
  }

}
