<div  style="display: flex; justify-content: center" *ngFor="let row of rows">
  <div *ngFor="let button of row">
    <button class="keyboard-button" mat-raised-button color="primary" (click)="selectLetter(button)" [ngClass]="{'selected': button.selected}">
      {{button.key}}
    </button>
  </div>
</div>
