:host {
  .start {
    text-align: center;
  }

  .title {
    margin: auto;
    padding: 70px;
    font-size: 100px;
  }

  .start-button {
    width: 200px;
    height: 70px;

    font-size: 50px;
  }
}
